@import '../../styleSheets/global';

.valentine-game-container {
    text-align: center;
    margin: 30px 0;
    font-family: "Great Vibes";
    #valentine-game{
        border: 5px solid hotpink;
        border-radius: 20px;
    }
}
