.contact-page
    background-color: lightgray
    border-radius: 10px
    border: 1px solid darken( lightgray, 10% )
    box-shadow: 1px 3px 5px
    width: 68%
    margin: auto
    margin-bottom: 5%
    padding: 2.5%
    text-align: left
    .header
        text-align: center
        margin-bottom: 10%
        h1
            font-family: "Nunito"
            font-size: 48px
            font-weight: 900
            margin-bottom: 10px
        span
            font-size: 20px
            font-style: italic
    .service
        margin: 2.5%
        text-align: left
        font-size: 18px
        svg
            margin: 0 2.5%