@import '../../colors.sass'

.Likes
    h1
        color: $dkgray
        text-indent: 11%
        font-family: "Raleway"
        font-size: 40px
        border-bottom: 3px solid $dkgray
    .tiles
        width: 80%
        margin: auto
        .tile
            transition: 0.3s ease all
            &:hover
                box-shadow: 1px 3px 5px
                transform: scale( 1.1 )
            background-color: lightgray
            border: 2px solid $gray
            border-radius: 10px
            margin-bottom: 5%
            height: 246px
            display: flex
            flex-flow: row nowrap
            align-items: center
            iframe
                width: 20%
                height: 55%
                margin: 5%
            .text
                width: 100%
                h2
                    &:hover
                        background-color: $dkgray
                        color: $ltgray
                        transform: scale( 1.05 )
                    display: inline-block
                    color: $dkgray
                    font-family: 'Nunito'
                    transition: 0.3s ease all
