// File for mixins and multiline maps

@mixin partialBackground( $percent: 50%, $color: lightgray ){
    $first: ( 100% - $percent ) / 2;
    $second: 100% - $first;
    background-image: linear-gradient( 
        $none 0%, 
        $none $first, 
        $color $first, 
        $color $second, 
        $none $second, 
        $none 100% 
    );
}

@mixin zero(){
    top: 0; bottom: 0;
    left: 0; right: 0;
}
